* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Cambria,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: rgb(246, 144, 11);
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

header h1 {
    padding: 22px 0px;
}

ul {
    list-style: none;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    position: sticky;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}

li a:hover:not(.nav) {
    background-color: #111;
}

.nav {
    background-color: #e86325;
}

li a:hover.nav {
    background-color: #4caf50;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

article image {
    min-height: 450px;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
}

article p {
    margin-top: 20px;
    text-indent: 20px;

}

article h1 {
    padding: 10px;
}

article {
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    border-radius: 3px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(75, 82, 83);
    margin-top: 5px;
}

